/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Remove list styles and padding on ul, ol */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* overpass-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/overpass-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/overpass-v12-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* overpass-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/overpass-v12-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/overpass-v12-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-primary : hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-dark-Blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
    --fw-regular: 400;
    --fw-bold: 700;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: var(--vertical-alignment, flex-start);

    
}

.stack > * + * {
        margin-block-start: var(--margin-block-start, 1.5rem);    
}

.box {
    color: var(--color);
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    outline: var(--outline);
    outline-offset: var(--outline-offset);
}

.center {
    box-sizing: content-box;
    margin-inline: auto;
    text-align: var(--text-align);
    max-inline-size: var(--max-inline-size);
    padding-inline-start: var(--padding-inline);
    padding-inline-end: var(--padding-inline);
}

.cluster {
    display: flex;
    flex-wrap: var(--flex-wrap, wrap);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
    justify-content: var(--horizontal-alignment, center);
    align-items: var(--vertical-alignment, center);
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

body {
    font-family: 'Overpass', sans-serif;
    --background-color: var(--color-very-dark-blue);
    --vertical-alignment: center;
    --color:var(--color-light-grey)
}

main {
    --max-inline-size:25.75rem;
}

.card {
    --padding: 2rem;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);;
    --border-radius:2rem;
}



figure,label {
    background-color: #262E38; 
    border-radius: 50%;
}

figure {
    align-self: flex-start;
    padding: 1rem;
}


h1,button {
    color: var(--color-white);
    font-weight: var(--fw-bold);
}


fieldset {
    padding: 0;
    border: none;
}

.radio-buttons {
    --horizontal-alignment: space-between;
}

.radio-buttons:focus-within {
    outline: .25em dashed var(--color-primary);
    outline-offset: .5em;
}

label {
    padding: 1em 1.5em;
    cursor: pointer;
    font-weight: var(--fw-bold);
    color: var(--color-medium-grey);
}

label:hover, input:focus + label{
    background-color: var(--color-primary);
    color: var(--color-white);
}

input:checked + label {
    background-color: var(--color-medium-grey);
    color: var(--color-white);
}

button {
    background-color: var(--color-primary);
    border-radius: 1.5em;
    border-color: transparent;
    text-transform: uppercase;
    padding-block: .5em;
    cursor: pointer;
    letter-spacing: .125em;
}

button:hover,button:focus {
    color: var(--color-primary);
    background-color: var(--color-white);
    
}

button:focus {
    outline: .25em dashed var(--color-primary);
    outline-offset: .5em;
}



